/* app css stylesheet */

.game-board{
  padding: 2em;
}

.game-board ul{
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.game-board li{
  text-align: center;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 4% 2%;
  cursor: pointer;
}

.game-board li.covered{
	color: #f00;
}