/* app css stylesheet */

.game-board{
	position: relative;
}

.bingo{
	position: absolute;
	background: #fff;
	background: rgba(255,255,255,0.8);
	text-align: center;
	left: -10px;
	right: -10px;
	top: 0;
	bottom: 0;
	padding-top: 4em;
}

.bingo p{
	color: #d00;
	font-size: 2rem;
	font-weight: bold;
}

.game-board ul{
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.game-board li{
	position: relative;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 5px;
	cursor: pointer;
	height: 4rem;
	display: table;
}

.game-board li div{
	font-size: .6875rem;
	text-align: center;
	word-break: break-word;
	line-height: 1;
	display: table-cell;
	vertical-align: middle;
}

@media only screen and (min-width: 40.063em) {
	.game-board li div{
		font-size: .75rem;
	}
}

.game-board li.covered::after{
	content: ' ';
	background: url('../dp.jpg') no-repeat center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
}